@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import "tailwindcss";

* {
  font-family: inherit;
}

body {
  font-family: 'Noto Serif JP', Arial, Helvetica, sans-serif;
}

.japanese-text {
  font-family: 'Yuji Syuku', Arial, sans-serif;
}