@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Sawarabi+Gothic&family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: inherit;
}

body {
  font-family: 'Yuji Syuku', 'Smooch Sans', Arial, Helvetica, sans-serif;
}